.yt-box {
  background-color: #1a1a1a;
  border: 2px solid #fb8c00; // El naranja de tu terminal de limpieza
  border-radius: 5px;
  padding: 15px;
}

.yt-title {
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 10px;
}

.yt-input-field {
  background-color: #2b2b2b;
  color: white;
  border-radius: 3px;
  padding: 5px;
}
